.correct-answer {
  background-color: #28a745 !important;
  color: #fff !important;
  border-color: #28a745 !important;
}

.wrong-answer {
  border-color: #dc3545 !important;
}

.korean-word {
  font-family: "Arial Unicode MS", sans-serif;
}

.sinhalese-word {
  font-family: "Noto Sans Sinhala", sans-serif;
}

#direction-button {
  position: absolute;
  top: 10px;
  right: 24px;
  padding: 10px 30px;
}

#direction-button i {
  font-size: 16px;
}